[Desktop Entry]
Name=WeChat
Name[zh_CN]=微信
Comment=Yet another electron WeChat for Linux desktop.
Exec=/home/huizhi/Desktop/yachat/WeChat-linux-x64/WeChat %U
Icon=/home/huizhi/Desktop/yachat/icon.png
Encoding=UTF-8
Terminal=false
StartupNotify=true
StartupWMClass=wechat-nativefier-
Type=Application
Categories=Network;Chat;InstantMessaging;Application;