.tab {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
}

.tab .tab_item.ng-scope {
    display: none !important;;
}

.tab .tab_item:after {
    border-right: 1px solid #00000000 !important;
}

.web_wechat_screencut {
    display: none !important;
}
